:root{
    --blue:  #0671DC;
    --white: #FFFFFF;
    --yellow: #FEC21F;
    --gray:#757575;
    }


/* body{
   /* display: flex;
   justify-content: space-between; */ 


.main_section{
    display: grid;
    grid-template-columns: repeat(3, 410px);
    gap: 24px;
    padding-left: 60px;
    padding-right: 60px;
}


/* the code of the first box */
.firts_box {
    grid-column-start: 1;
    grid-column-end: 3;
    
    padding-top: 20px;
    padding-left: 20px;
    /* width: 820.32px; */
    height: 404px;
    background-color:var(--blue);
   background-image: url("../img/k2-_98313332-39d1-4064-a0a4-aa2a75205251.v1\ copy.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 53%;
   border-radius: 0.7em;
  
}


.title {
    color:var(--white);
   
}

.title a   {
    font-size: 25px;
    text-decoration: none;
}
.title   h1 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.description a{
text-decoration: none;

}

.description  span {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 16px;
}

.button {
    margin-top: 20px;
}

.button a {
    font-weight: 530;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid ;
    border-color: black;
    border-radius: 2rem;
}
/* end of code of the first box */

/* ---start of the secunde box --- */

.second_box{
    /* width:400px ; */
    height:424px;
    border-radius: 0.7em;
    /* border: 0.3px solid black; */
    box-shadow: 0 1px 2px 1px #00000026;
}

.header a {
display: flex;
color: black;
text-decoration: none;
justify-content: space-between;
align-items: center;
padding-left: 14px;
}
.header button{
    border: none;
    text-decoration: underline;
    background-color: #FFFFFF;
    padding-right: 14px;
}

.img{
    display: flex;
    justify-content: center;
}
.footer{
padding-left: 14px;


}

.footer a {
    text-decoration: none;
}

.footer button {
    background-color: #0671DC;
    font-size: 17px;
    border-radius: 1em;
    color: #FFFFFF;
    padding: 6px 10px;
    border: none;
}

.footer h2 , p {
    color:black;

}

.footer h2 span {
    color: #757575;
    font-size: 20px;
    text-decoration: line-through;
}

/* the beginning of the the third box */

.third_box {
    height: 424px ;
    /* width: 418.66px; */
    /* border-radius: 0.7em;
    box-shadow: 0 1px 2px 1px #00000026; */
}

.reserve_pickup {
    display: flex;
    justify-content: space-around;
    background-color: #E6F2FC;
    align-items: baseline;
    width: inherit;
    height: 128px;
     border-radius: 0.7em;
     box-shadow: 0 1px 2px 1px #00000026; 
     margin-bottom: 24px;

}

.reserve_pickup button {
    background-color: #FFFFFF;
    height: 31px;
    border-radius: 1rem;
    padding: 2px 13px;
}

.popular_services{
    height: 272px;
    border-radius: 0.7em;
    box-shadow: 0 1px 2px 1px #00000026; 
}

.popular_services_header { 
    display: flex;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 27px;

}

.popular_services_header  button {
    background-color: #FFFFFF;
    border: none;
    text-decoration: underline;
}

/* .service_main_contents{
    /* display: flex; */



.service_main_contents ul {
    display: flex;
    padding-left: 22px;
    padding-right: 22px;
    width: 363px;
   
}



.service_main_contents ul li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

.service_main_contents img {
    width: 90px;
    aspect-ratio: auto 90 / 90;
}

.service_main_contents a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
}




/* end */


/* the beginning of the fourth box*/

.fourth_box{
    height: 424px ;
    /* width: 418.66px; */
    border-radius: 0.7em;
    box-shadow: 0 1px 2px 1px #00000026;
}

.grid_container{
    display: grid;
    grid-template-columns: 180px 180px;
    justify-content: center;
    grid-row-gap: 20px;
}

.grid_container a {
    text-decoration: none;
}

.grid_container p {
    margin: 0px;
}

.fourth_box_header h3 {
    padding-left: 20px;
    margin-bottom: 4px;
}
.fourth_box_tech{
    display: flex;
    justify-content: center;
}


.fourth_box_toys{
    display: flex;
    justify-content: center;
}

.fourth_box_fashion {
    display: flex;
    justify-content: center;
}
.fourth_box_fashion img{
    padding-left: 8px;
}

.fourth_box_patio{
    display: flex;
    justify-content: center;
    padding-left: 26px;
}
/* end */


/* the beginning of the fifth box */

.fifth_box {
    height: 424px ;
    /* width: 418.66px; */
    border-radius: 0.7em;
    box-shadow: 0 1px 2px 1px #00000026;
}
